[Unit]
Description=Ball Data Layer HTTP Service for %i
Requires=ball-daemon@%i.service
After=ball-daemon@%i.service

[Service]
Type=simple
Environment=BALL_ROOT=/home/%i/.ball/mainnet
ExecStart=/opt/ball/ball_data_layer_http
User=%i
Group=%i
LimitNOFILE=1048576
LimitNPROC=1048576
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
