[Unit]
Description=Ball Crawler Service for %i
Requires=ball-daemon@%i.service
After=ball-daemon@%i.service

[Service]
Type=simple
Environment=BALL_ROOT=/home/%i/.ball/mainnet
ExecStart=/opt/ball/ball_crawler
User=%i
Group=%i
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
